@import "tailwindcss";
@import "aos/dist/aos.css";

/* ========= dark Variant & theme =======  */
@variant dark (&:where(.dark &));

:root {
  --background: #fcfff7;
  --foreground: #171717;
}

.dark {
  --background: #222222;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
}

tbody tr:hover {
  background-color: #09368a13;
  overflow: hidden;
}

input:hover,
textarea:hover {
  /* background-color: #135eea09; */
  overflow: hidden;
}

a:active,
button:active {
  transform: scale(0.95);
}

/* ======== OverlayScrollBar Theme Update ======== */
.os-theme-dark,
.os-theme-light {
  box-sizing: border-box;
  --os-size: 16px !important;
  --os-padding-perpendicular: 6px !important;
  --os-padding-axis: 80px !important;
  --os-track-border-radius: 10px !important;
  --os-handle-interactive-area-offset: 4px !important;
  --os-handle-border-radius: 10px !important;
}

.cookie .os-theme-dark,
.cookie .os-theme-light {
  --os-padding-axis: 20px !important;
}

.os-theme-dark {
  --os-handle-bg: rgba(3, 82, 119, 0.502) !important;
  --os-handle-bg-hover: rgba(0, 0, 0, 0.55);
  --os-handle-bg-active: rgba(0, 0, 0, 0.66);
}


/* ===== ScrollBar ===== */
/* :root {
  --h-scrollbar-thumb-color: #ff952aff;
  --h-scrollbar-track-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--h-scrollbar-track-color);
  margin: 5rem 0;
}

::-webkit-scrollbar-thumb {
  background: transparent !important;
  border-left: 2px solid var(--h-scrollbar-track-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #FCFFF7 !important;
  border: 2px solid #ff952aff;
  border-radius: 5px;
  transition: all 5s ease-in-out;
}

body.is-active::-webkit-scrollbar-thumb {
  border-left: 2px solid var(--h-scrollbar-thumb-color);
  transition: all 5s ease-in-out;
} */

/*===== scrollTopBtn animation moveButton =====*/
@keyframes moveButton {
  0%,
  100% {
    transform: translateY(-6px);
    opacity: 1;
  }

  50% {
    transform: translateY(5px);
    opacity: 0;
  }

  60% {
    opacity: 0;
  }
}

/*===== Style for overflow-x-auto ======*/

:root {
  --scrollbar-thumb-color: #0676bdff;
  --scrollbar-track-color: #fff;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 4px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 5px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px;
  border: 2px solid var(--scrollbar-track-color);
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #3a7fd6;
}

/* Style for Firefox */
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* === ContactModal === */
@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 0.8s ease-out forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-right {
  animation: slideRight 0.8s ease-out forwards;
}

/* ===== SplashScreen ==== */
.animate-float {
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }

  25% {
    transform: translate(15px, 20px) scale(1.1);
  }

  50% {
    transform: translate(0, -30px) scale(0.9);
  }

  75% {
    transform: translate(-20px, 10px) scale(1.2);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

/* ==== Animate dots loading ===== */
@keyframes dot-bounce {

  0%,
  80%,
  100% {
    transform: scale(0.6);
    opacity: 0.6;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-dot-bounce-1 {
  animation: dot-bounce 1.4s infinite ease-in-out;
}

.animate-dot-bounce-2 {
  animation: dot-bounce 1.4s infinite ease-in-out 0.2s;
}

.animate-dot-bounce-3 {
  animation: dot-bounce 1.4s infinite ease-in-out 0.4s;
}

/*====== Account Greating Notice ====== */
@keyframes banner {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-banner {
  animation: banner 10s linear infinite;
}

@media (min-width: 1024px) {
  .animate-banner {
    animation: banner 15s linear infinite;
  }
}

/* =========== BANNER CAROUSEL ============ */
/* === Animation Dot fillProgress === */
@keyframes fillProgress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

/* === Navigation pop-in === */
.carousel-nav {
  left: 50%;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.carousel-container.is-visible .carousel-nav {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.carousel-nav.below {
  position: static;
  margin-top: 1rem;
  transform: scale(0.2);
}

.carousel-container.is-visible .carousel-nav.below {
  transform: scale(1);
}

/* === Slides transition === */
.slides {
  transition: transform 0.5s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

/* ========= is Menu Open ======== */
@keyframes slideTop {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-top {
  animation: slideTop 0.5s ease-out forwards;
}

@keyframes slideBottom {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-15%);
    opacity: 0;
  }
}

.animate-slide-bottom {
  animation: slideBottom 0.5s ease-out forwards;
}

/* ======= Animate fade in Scale EventFilter ========= */
@keyframes fadeInScaleFilter {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScaleFilter {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.fadeInScaleFilter {
  animation: fadeInScaleFilter 0.4s ease-out forwards;
}

.fadeOutScaleFilter {
  animation: fadeOutScaleFilter 0.3s ease-in forwards;
}

.fadeDelayFilter-1 {
  animation-delay: 0.1s;
}

.fadeDelayFilter-2 {
  animation-delay: 0.2s;
}

.fadeDelayFilter-3 {
  animation-delay: 0.3s;
}

.fadeDelayFilter-4 {
  animation-delay: 0.4s;
}

/* ========== Toast Animations ========== */
@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  10% {
    opacity: 1;
    transform: translateX(0);
  }

  90% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-slide-in-out {
  animation: slideInOut 5s ease-in-out forwards;
}

/* ====== Squircle clip-path ======== */
:root {
  --clip-path-squircle-60: polygon(
    0px 120px,
    0.2926114347613975px 76.01693427552313px,
    1.1726170703615537px 60.29422812258654px,
    2.646737302862107px 48.79561476139696px,
    4.7268967341249635px 39.546913005102155px,
    7.431447305256768px 31.81593046346407px,
    10.787202305502689px 25.242897384862104px,
    14.832739587064495px 19.623850275977063px,
    19.623850275977063px 14.832739587064495px,
    25.242897384862104px 10.787202305502689px,
    31.815930463464056px 7.431447305256782px,
    39.54691300510214px 4.7268967341249635px,
    48.79561476139695px 2.646737302862107px,
    60.294228122586546px 1.1726170703615537px,
    76.01693427552313px 0.2926114347613975px,
    119.99999252872091px 0px,
    calc(100% - 119.99999px) 0px,
    calc(100% - 76.01693px) 0.2926114347613975px,
    calc(100% - 60.29423px) 1.1726170703615537px,
    calc(100% - 48.79561px) 2.646737302862107px,
    calc(100% - 39.54691px) 4.7268967341249635px,
    calc(100% - 31.81593px) 7.431447305256782px,
    calc(100% - 25.2429px) 10.787202305502689px,
    calc(100% - 19.62385px) 14.832739587064495px,
    calc(100% - 14.83274px) 19.623850275977063px,
    calc(100% - 10.7872px) 25.242897384862104px,
    calc(100% - 7.43145px) 31.81593046346407px,
    calc(100% - 4.7269px) 39.546913005102155px,
    calc(100% - 2.64674px) 48.79561476139696px,
    calc(100% - 1.17262px) 60.29422812258654px,
    calc(100% - 0.29261px) 76.01693427552313px,
    100% 120px,
    100% calc(100% - 120px),
    calc(100% - 0.29261px) calc(100% - 76.01693px),
    calc(100% - 1.17262px) calc(100% - 60.29423px),
    calc(100% - 2.64674px) calc(100% - 48.79561px),
    calc(100% - 4.7269px) calc(100% - 39.54691px),
    calc(100% - 7.43145px) calc(100% - 31.81593px),
    calc(100% - 10.7872px) calc(100% - 25.2429px),
    calc(100% - 14.83274px) calc(100% - 19.62385px),
    calc(100% - 19.62385px) calc(100% - 14.83274px),
    calc(100% - 25.2429px) calc(100% - 10.7872px),
    calc(100% - 31.81593px) calc(100% - 7.43145px),
    calc(100% - 39.54691px) calc(100% - 4.7269px),
    calc(100% - 48.79561px) calc(100% - 2.64674px),
    calc(100% - 60.29423px) calc(100% - 1.17262px),
    calc(100% - 76.01693px) calc(100% - 0.29261px),
    calc(100% - 119.99999px) 100%,
    119.99999252872091px 100%,
    76.01693427552313px calc(100% - 0.29261px),
    60.294228122586546px calc(100% - 1.17262px),
    48.79561476139695px calc(100% - 2.64674px),
    39.54691300510214px calc(100% - 4.7269px),
    31.815930463464056px calc(100% - 7.43145px),
    25.242897384862104px calc(100% - 10.7872px),
    19.623850275977063px calc(100% - 14.83274px),
    14.832739587064495px calc(100% - 19.62385px),
    10.787202305502689px calc(100% - 25.2429px),
    7.431447305256768px calc(100% - 31.81593px),
    4.7268967341249635px calc(100% - 39.54691px),
    2.646737302862107px calc(100% - 48.79561px),
    1.1726170703615537px calc(100% - 60.29423px),
    0.2926114347613975px calc(100% - 76.01693px),
    0px calc(100% - 120px),
    0px 120px
  );
}
